body {
	font-family: 'Open Sans', sans-serif;
	background-color: #faf8e3;
  }

.my-container {
	position: relative;
	display: grid;
	justify-content: space-evenly;
	width: 80%;
	margin-left: 10%;
}


.title-header {
	position: relative;
	text-align: center;
}

.header {
	margin-top: 5%;
}

  
#court {
	text-align: center;
	position: relative;

}

.slider rect {
	fill: gray;
	shape-rendering: crispEdges;
}

.slider line {
	fill: none;
	stroke: red;
	opacity: 0.3;
	shape-rendering: crispEdges;
}

.dropdown {
	top: -50px;
}
